@page
@model IndexModel;
@{
    //Create employee form
    <form method="post">
        <H1>Sign into your account</H1>
        <br />
        <div class="form-group">
            <H4>User Name</H4>
            <input type="text" asp-for="username" style="width: 300px; class="form-control" />
        </div>
        <br />
        <div class="form-group">
            <H4>Password</H4>
            <input type="password" asp-for="password" style="width: 300px;class="form-control" />
        </div>

        @if (ViewData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @ViewData["ErrorMessage"]
            </div>
        }
        <br />
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>

    <p>by Noah Kurtz, Joel Abbott, Nic Jordan, Andrew, Declan  </p>
}
