<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DatabaseSystemIntegration</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DatabaseSystemIntegration.styles.css" asp-append-version="true" />

    @using Microsoft.AspNetCore.Http;
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #450084;">
            <div class="container-fluid">
            </div>
            <div class="container-fluid">
              
                @if (Context.Session.GetInt32("LoggedIn") == 1)
                {
                    <div class="d-flex ms-auto gap-3">
                        <a class="navbar-brand" style="color: #fff;" asp-page="/index">Logout</a>
                        <a class="navbar-brand" style="color: #fff;" asp-page="Project-Dashboard">@Context.Session.GetString("UserName")</a>
                    </div>

                }
                else
                {
                    <a class="navbar-brand" style="color: #fff;" asp-page="/Interface/CreateAccount">Create Account</a>
                }
                <button class="navbar-toggler" type="button"  data-bs-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (Context.Session.GetInt32("LoggedIn") == 1)
                {
                    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <button class="btn btn-dark dropdown-toggle" style="background-color: #450084; color:#fff;" data-bs-toggle="dropdown" aria-expanded="false">
                                    Select a Workflow 
                                </button>
                                <ul class="dropdown-menu dropdown-menu-light">

                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Interface/Project-Dashboard">Project-Dashboard</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Interface/Messages">Messages</a>
                                    </li>
                                    @if (Context.Session.GetString("UserType") == "Admin")
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-page="/Interface/Search">Generate Report</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-page="/Interface/CreateProject">Create Project</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-page="/Interface/CreateUser">Add User To System</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-page="/Interface/CreateAccount">Create a User Account</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-page="/Interface/CreateGrant">Record Grant Proposal</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-page="/Interface/CreatePartner">Add Partner</a>
                                        </li>
                                    }

                                </ul>

                            </li>
                        </ul>
                    </div>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - CARE - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>