@page
@model DatabaseSystemIntegration.Pages.Interface.AssignFacultyModel
@{
    //Noah Kurtz, **WORKED INDIVIDUALLY**
    //form for creating an Employee project
    <form method="post">

        <div class="form-group">
            <h4>Select a Project to Assign</h4>
            <br /> <select asp-for="Project_ID" class="form-control">
                @foreach (var Project in Model.GrantProjects)
                {
                    <option value="@Project.Grant_Project_ID">@Project.Project_Name</option>
                }
            </select><br />
        </div>

        <div class="form-group">
            <h4>Select a Faculty Member to add to the Project</h4>
            <br /> <select asp-for="Faculty_ID" class="form-control">
                @foreach (var Faculty in Model.Faculty)
                {
                    <option value="@Faculty.Faculty_ID">@Faculty.Faculty_Name</option>
                }
            </select><br />
        </div>
       
        <br />
        <div class="form-group">
            <br>  <button type="submit" class="btn btn-primary">Add To Project</button>  <br>
        </div>
    </form>

}
