@page
@model DatabaseSystemIntegration.Pages.Interface.ProjectNotesModel
@{

    <h2 style="text-align: center; margin-top: 50px; margin-bottom: 20px;">Projects Notes</h2>
    <table border="1" style="width: 100%; margin: 0 auto;" form method="get">
        <tr>
            <th style="padding: 10px; text-align: left;">Project Name</th>
            <th style="padding: 10px; text-align: left;">Note</th>
            <th style="padding: 10px; text-align: left;">Date</th>
        </tr>
        <tbody>
            @foreach (var Note in Model.Notes)
            {
                <tr>
                    <td style="padding: 8px;">@Note.Project_Name</td>
                    <td style="padding: 8px;">@Note.Project_Note</td>
                    <td style="padding: 8px;">@Note.Date_Recorded</td>
                </tr>
            }
        </tbody>

    </table>
}
